# The MySQL  Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysql]

[mysqld]
#innodb_force_recovery = 1
pid-file	            = /var/run/mysqld/mysqld.pid
socket		            = /var/run/mysqld/mysqld.sock
default_authentication_plugin=mysql_native_password
# Where the database files are stored inside the container
datadir		            = /var/lib/mysql
# My application special configuration
max_allowed_packet=100M
#sql-mode                    = 'STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION'
#MySQL 8 does not accept NO_AUTO_CREATE_USER so that needs to be removed.
sql-mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
character-set-server=utf8
#logging
log-bin=/var/log/mysql-bin.log
log_error       =/var/log/mysql_error.log
general_log_file=/var/log/mysql.log
general_log     =1
slow_query_log  =1
slow_query_log_file=/var/log/mysql_slow.log
long_query_time =1
log_queries_not_using_indexes = 1
#Limiting mysql log file size
relay-log-space-limit=15M
#relay-log-space-limit=15G
# Accept connections from any IP address
bind-address	            = 0.0.0.0
